@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  min-height: 100%;
}

body {
  background-image: linear-gradient(to bottom, #9aeba3, #dafdba, white);
}

main {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(118, 181, 125, 0.451);
  width: 600px;
  padding: 10px;
  margin: auto;
}

h1 {
  color: #13678a;
  text-align: center;
  text-shadow: 1px 1px 2px #0d465fa4;
}
h2 {
  color: #45c4b0;
}

p {
  text-align: justify;
}


