@charset "UTF-8";

body {
  background-color: rgb(14, 236, 236);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
h1 {
  color: darkblue;
  background-color: rgb(192, 232, 232);
}
h2 {
  color: red;
}
p {
  text-align: justify;
}
